[*.cs]

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none
